In [922]:
import pandas as pd

In [923]:
population = pd.read_csv('../population/population_categories.csv')
population

               state           city population pop_cat
0            Alabama      Abbeville       2688  middle
1            Alabama     Adamsville       4522  middle
2            Alabama        Addison        758   small
3            Alabama          Akron        356   small
4            Alabama      Alabaster      30352  middle
...              ...            ...        ...     ...
19533          Idaho    Garden City      11911  middle
19534  Massachusetts      Brookline      58732   large
19535       Maryland      Oxon Hill      17722  middle
19536       Maryland  Silver Spring      71452   large
19537         Nevada   Blue Diamond        290   small

[19538 rows x 4 columns]

In [924]:
population_sorted = population.sort_values(by=['state', 'city'])
population_sorted

         state        city population pop_cat
0      Alabama   Abbeville       2688  middle
1      Alabama  Adamsville       4522  middle
2      Alabama     Addison        758   small
3      Alabama       Akron        356   small
4      Alabama   Alabaster      30352  middle
...        ...         ...        ...     ...
19450  Wyoming   Wamsutter        451   small
19451  Wyoming   Wheatland       3627  middle
19452  Wyoming     Worland       5487  middle
19453  Wyoming      Wright       1807   small
19454  Wyoming       Yoder        151   small

[19538 rows x 4 columns]

In [925]:
temp_data = pd.read_csv('../temperature/original_files/redfin_temps_complete.csv')
temp_data

      temp_city     temp_state temp_abbr  Summer Temp  Winter Temp
0    Birmingham        Alabama        AL         82.1         45.1
1    Huntsville        Alabama        AL         80.0         42.9
2        Mobile        Alabama        AL         82.8         51.5
3    Montgomery        Alabama        AL         83.7         48.5
4     Alexander       Arkansas        AR         81.9         41.8
..          ...            ...       ...          ...          ...
470  Huntington  West Virginia        WV         75.3         35.1
471      Casper        Wyoming        WY         69.7         26.9
472    Cheyenne        Wyoming        WY         70.5         31.0
473      Lander        Wyoming        WY         70.9         17.9
474    Sheridan        Wyoming        WY         69.3         27.1

[475 rows x 5 columns]

In [926]:
temp_data_sorted = temp_data.sort_values(by=['temp_state', 'temp_city'])
temp_data_sorted

        temp_city temp_state temp_abbr  Summer Temp  Winter Temp
0      Birmingham    Alabama        AL         82.1         45.1
1      Huntsville    Alabama        AL         80.0         42.9
2          Mobile    Alabama        AL         82.8         51.5
3      Montgomery    Alabama        AL         83.7         48.5
16      Flagstaff    Arizona        AZ         67.3         30.8
..            ...        ...       ...          ...          ...
466  Williams Bay  Wisconsin        WI         80.0         10.0
471        Casper    Wyoming        WY         69.7         26.9
472      Cheyenne    Wyoming        WY         70.5         31.0
473        Lander    Wyoming        WY         70.9         17.9
474      Sheridan    Wyoming        WY         69.3         27.1

[475 rows x 5 columns]

In [927]:
temp_data_sorted.dtypes

temp_city       object
temp_state      object
temp_abbr       object
Summer Temp    float64
Winter Temp    float64
dtype: object

In [928]:

temp_data_sorted.loc[:,'temp_city'] = temp_data_sorted.loc[:, 'temp_city'].astype("string")
temp_data_sorted.loc[:,'temp_state'] = temp_data_sorted.loc[:, 'temp_state'].astype("string")
temp_data_sorted.loc[:,'temp_abbr'] = temp_data_sorted.loc[:, 'temp_abbr'].astype("string")

In [929]:
temp_data_sorted.dtypes

temp_city       string
temp_state      string
temp_abbr       string
Summer Temp    float64
Winter Temp    float64
dtype: object

In [930]:
pop_temp_merge = temp_data_sorted.merge(population_sorted, how="left", left_on=['temp_state', 'temp_city'], right_on=['state', 'city'])

In [931]:
pop_temp_merge

,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,state,city,population,pop_cat
0,Birmingham,Alabama,AL,82.1,45.1,Alabama,Birmingham,212237,large
1,Huntsville,Alabama,AL,80.0,42.9,Alabama,Huntsville,180105,large
2,Mobile,Alabama,AL,82.8,51.5,Alabama,Mobile,195111,large
3,Montgomery,Alabama,AL,83.7,48.5,Alabama,Montgomery,205764,large
4,Flagstaff,Arizona,AZ,67.3,30.8,Arizona,Flagstaff,65870,large
...,...,...,...,...,...,...,...,...,...
470,Williams Bay,Wisconsin,WI,80.0,10.0,Wisconsin,Williams Bay,2564,middle
471,Casper,Wyoming,WY,69.7,26.9,Wyoming,Casper,55316,large
472,Cheyenne,Wyoming,WY,70.5,31.0,Wyoming,Cheyenne,59466,large
473,Lander,Wyoming,WY,70.9,17.9,Wyoming,Lander,7487,middle
474,Sheridan,Wyoming,WY,69.3,27.1,Wyoming,Sheridan,17444,middle

In [932]:
pop_temp_drop_col = pop_temp_merge.drop(columns=['state', 'city'])

In [933]:
pop_temp_drop_col

,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat
0,Birmingham,Alabama,AL,82.1,45.1,212237,large
1,Huntsville,Alabama,AL,80.0,42.9,180105,large
2,Mobile,Alabama,AL,82.8,51.5,195111,large
3,Montgomery,Alabama,AL,83.7,48.5,205764,large
4,Flagstaff,Arizona,AZ,67.3,30.8,65870,large
...,...,...,...,...,...,...,...
470,Williams Bay,Wisconsin,WI,80.0,10.0,2564,middle
471,Casper,Wyoming,WY,69.7,26.9,55316,large
472,Cheyenne,Wyoming,WY,70.5,31.0,59466,large
473,Lander,Wyoming,WY,70.9,17.9,7487,middle
474,Sheridan,Wyoming,WY,69.3,27.1,17444,middle

## JOINING HOUSING

In [934]:
redfin_data = pd.read_csv('../redfin_housing/redfin_resources/combined_regions/redfin_all_regions.csv')

In [935]:
redfin_data

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude
0,657,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107
1,3092,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107
2,457,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714
3,2892,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714
4,422,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.50,4081.0,6499.0,2018.0,0.0,http://www.redfin.com/CA/Beverly-Hills/221-S-W...,34.063496,-118.380685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6593,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164
6594,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
6595,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
6596,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918
6597,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918

In [936]:
redfin_sort_state = redfin_data.sort_values(by=['state', 'city'])
redfin_sort_state

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude
0,657,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107
1,3092,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107
2,457,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714
3,2892,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714
4,422,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.50,4081.0,6499.0,2018.0,0.0,http://www.redfin.com/CA/Beverly-Hills/221-S-W...,34.063496,-118.380685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6593,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164
6594,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
6595,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
6596,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918
6597,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918

In [937]:
redfin_sort_dropna = redfin_sort_state.dropna()
redfin_sort_dropna

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude
0,657,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107
1,3092,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107
2,457,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714
3,2892,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714
4,422,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.50,4081.0,6499.0,2018.0,0.0,http://www.redfin.com/CA/Beverly-Hills/221-S-W...,34.063496,-118.380685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6593,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164
6594,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
6595,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
6596,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918
6597,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918

In [938]:
pop_temp_drop_col.sort_values(by=['temp_state', 'temp_city'])
pop_temp_drop_col

,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat
0,Birmingham,Alabama,AL,82.1,45.1,212237,large
1,Huntsville,Alabama,AL,80.0,42.9,180105,large
2,Mobile,Alabama,AL,82.8,51.5,195111,large
3,Montgomery,Alabama,AL,83.7,48.5,205764,large
4,Flagstaff,Arizona,AZ,67.3,30.8,65870,large
...,...,...,...,...,...,...,...
470,Williams Bay,Wisconsin,WI,80.0,10.0,2564,middle
471,Casper,Wyoming,WY,69.7,26.9,55316,large
472,Cheyenne,Wyoming,WY,70.5,31.0,59466,large
473,Lander,Wyoming,WY,70.9,17.9,7487,middle
474,Sheridan,Wyoming,WY,69.3,27.1,17444,middle

In [939]:
housing_complete_merge = redfin_sort_dropna.merge(pop_temp_drop_col, how="left", left_on=['state', 'city'], right_on=['temp_abbr', 'temp_city'])
housing_complete_merge

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,...,url,latitude,longitude,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat
0,657,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,...,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,Arleta,California,CA,79.0,51.0,31068,middle
1,3092,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,...,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,Arleta,California,CA,79.0,51.0,31068,middle
2,457,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,...,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,Atwater Village,California,CA,79.0,51.0,28168,middle
3,2892,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,...,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,Atwater Village,California,CA,79.0,51.0,28168,middle
4,422,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.50,4081.0,...,http://www.redfin.com/CA/Beverly-Hills/221-S-W...,34.063496,-118.380685,Beverly Hills,California,CA,79.0,51.0,34109,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,...,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164,Seattle,Washington,WA,69.1,45.0,608660,large
7600,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007,large
7601,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007,large
7602,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791,large
7603,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791,large

In [940]:
housing_complete_merge['house_id'] = housing_complete_merge.index + 1

In [941]:
housing_complete_merge

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,...,latitude,longitude,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat,house_id
0,657,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,...,34.247852,-118.428107,Arleta,California,CA,79.0,51.0,31068,middle,1
1,3092,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,...,34.247852,-118.428107,Arleta,California,CA,79.0,51.0,31068,middle,2
2,457,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,...,34.113874,-118.249714,Atwater Village,California,CA,79.0,51.0,28168,middle,3
3,2892,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,...,34.113874,-118.249714,Atwater Village,California,CA,79.0,51.0,28168,middle,4
4,422,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.50,4081.0,...,34.063496,-118.380685,Beverly Hills,California,CA,79.0,51.0,34109,middle,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,...,47.539596,-122.368164,Seattle,Washington,WA,69.1,45.0,608660,large,7600
7600,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007,large,7601
7601,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007,large,7602
7602,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791,large,7603
7603,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791,large,7604

In [942]:
housing_complete_merge.to_csv("housing_complete_for_cleaning_only.csv")

In [943]:
cols = list(housing_complete_merge.columns.values)
cols

['Unnamed: 0',
 'property_type',
 'address',
 'city',
 'state',
 'zip_code',
 'price',
 'beds',
 'baths',
 'square_feet',
 'lot_size',
 'year_built',
 'hoa_permonth',
 'url',
 'latitude',
 'longitude',
 'temp_city',
 'temp_state',
 'temp_abbr',
 'Summer Temp',
 'Winter Temp',
 'population',
 'pop_cat',
 'house_id']

In [944]:
complete_housing_data = housing_complete_merge[['house_id','property_type','address', 'city','state','zip_code',
                                                'price','beds','baths','square_feet','lot_size','year_built',
                                                'hoa_permonth','url', 'latitude','longitude','Summer Temp',
                                                 'Winter Temp','population', 'pop_cat']]

 
complete_housing_data

,house_id,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,1,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,79.0,51.0,31068,middle
1,2,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.00,2080.0,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,79.0,51.0,31068,middle
2,3,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,79.0,51.0,28168,middle
3,4,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.50,1482.0,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,79.0,51.0,28168,middle
4,5,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.50,4081.0,6499.0,2018.0,0.0,http://www.redfin.com/CA/Beverly-Hills/221-S-W...,34.063496,-118.380685,79.0,51.0,34109,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,7600,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164,69.1,45.0,608660,large
7600,7601,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,69.1,45.0,53007,large
7601,7602,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,69.1,45.0,53007,large
7602,7603,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,79.0,33.0,161791,large
7603,7604,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,79.0,33.0,161791,large

In [945]:
training_data = housing_complete_merge[['house_id','price','beds','baths','square_feet','lot_size',
                                                'hoa_permonth', 'Summer Temp','Winter Temp','population']]

training_data

,house_id,price,beds,baths,square_feet,lot_size,hoa_permonth,Summer Temp,Winter Temp,population
0,1,795000.0,5.0,3.00,2080.0,7250.0,0.0,79.0,51.0,31068
1,2,795000.0,5.0,3.00,2080.0,7250.0,0.0,79.0,51.0,31068
2,3,1189000.0,4.0,3.50,1482.0,5398.0,0.0,79.0,51.0,28168
3,4,1189000.0,4.0,3.50,1482.0,5398.0,0.0,79.0,51.0,28168
4,5,4295000.0,4.0,5.50,4081.0,6499.0,0.0,79.0,51.0,34109
...,...,...,...,...,...,...,...,...,...,...
7599,7600,515000.0,2.0,2.25,1420.0,1245.0,190.0,69.1,45.0,608660
7600,7601,599000.0,3.0,1.00,1020.0,6135.0,0.0,69.1,45.0,53007
7601,7602,599000.0,3.0,1.00,1020.0,6135.0,0.0,69.1,45.0,53007
7602,7603,365000.0,3.0,2.00,1324.0,0.0,237.0,79.0,33.0,161791
7603,7604,365000.0,3.0,2.00,1324.0,0.0,237.0,79.0,33.0,161791

In [946]:
complete_housing_data.to_csv('housing_complete_data.csv')

In [947]:
training_data.to_csv('../housing_training_data.csv', index=False)

In [948]:
print(len(complete_housing_data.index))

test_results = complete_housing_data.dropna()
print(len(test_results.index))

print("lost rows: " + str(len(complete_housing_data.index) - len(test_results.index)))

7604
7601
lost rows: 3